<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<true/>
	<key>ProjectOnly</key>
	<true/>
	<key>Identifier</key>
	<string>com.innovatube.template.iosBase.MVVM</string>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.iosBase</string>
		<string>com.innovatube.template.unit.bundleBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>SwiftLint</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>&quot;${PODS_ROOT}/SwiftLint/swiftlint&quot;</string>
				</dict>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>SWIFT_OBJC_BRIDGING_HEADER</key>
				<string>$(PROJECT_NAME)/Application/___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
			</dict>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>UnitTests</string>
			<key>Name</key>
			<string>Include Unit Tests</string>
			<key>NotPersisted</key>
			<true/>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.cocoaTouchApplicationUnitTestBundle</string>
							<key>Name</key>
							<string>___PACKAGENAME___Tests</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>UITests</string>
			<key>Name</key>
			<string>Include UI Tests</string>
			<key>NotPersisted</key>
			<true/>
			<key>SortOrder</key>
			<integer>101</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.cocoaTouchApplicationUITestBundle</string>
							<key>Name</key>
							<string>___PACKAGENAME___UITests</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>FacebookSDK</string>
			<key>Name</key>
			<string>Include FacebookSDK</string>
			<key>Description</key>
			<string>Adds FacebookSDK pod to the default Podfile</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>SortOrder</key>
			<integer>102</integer>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Services/Network/SNSAuthentications/FacebookAuthenticationAPI.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Services/Network/SNSAuthentications/FacebookAuthenticationAPI.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Network</string>
								<string>SNSAuthentications</string>
							</array>
						</dict>
						<key>Application/FBSDKSetup.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Application/FBSDKSetup.swift</string>
							<key>Group</key>
							<string>Application</string>
						</dict>
						<key>Info.plist:LSApplicationQueriesSchemes:base</key>
						<string>&lt;string&gt;fbapi&lt;/string&gt;&lt;string&gt;fb-messenger-api&lt;/string&gt;&lt;string&gt;fbauth2&lt;/string&gt;&lt;string&gt;fbshareextension&lt;/string&gt;&lt;string&gt;fb&lt;/string&gt;</string>
						<key>Info.plist:FacebookDisplayName</key>
						<string>&lt;key&gt;FacebookDisplayName&lt;/key&gt;&lt;string&gt;___VARIABLE_productName___&lt;/string&gt;</string>
						<key>Info.plist:FacebookAppID</key>
						<string>&lt;key&gt;FacebookAppID&lt;/key&gt;&lt;string&gt;&lt;/string&gt;</string>
						<key>../Podfile: FBSDKCoreKit</key>
						<string>    pod &apos;FBSDKCoreKit&apos;</string>
						<key>../Podfile: FBSDKLoginKit</key>
						<string>    pod &apos;FBSDKLoginKit&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Services/Network/SNSAuthentications/FacebookAuthenticationAPI.swift</string>
						<string>Application/FBSDKSetup.swift</string>
						<string>Info.plist:FacebookAppID</string>
						<string>Info.plist:FacebookDisplayName</string>
						<string>Info.plist:LSApplicationQueriesSchemes:base</string>
						<string>../Podfile: FBSDKCoreKit</string>
						<string>../Podfile: FBSDKLoginKit</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>SortOrder</key>
			<integer>103</integer>
			<key>Identifier</key>
			<string>GoogleSignIn</string>
			<key>Name</key>
			<string>Include Google Sign-In SDK</string>
			<key>Description</key>
			<string>Adds Google Sign-In pod to the default Podfile</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Services/Network/SNSAuthentications/GoogleAuthenticationAPI.swift</key>
						<dict>
							<key>Path</key>
							<string>Services/Network/SNSAuthentications/GoogleAuthenticationAPI.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Network</string>
								<string>SNSAuthentications</string>
							</array>
						</dict>
						<key>../Podfile: GoogleSignIn</key>
						<string>    pod &apos;GoogleSignIn&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Services/Network/SNSAuthentications/GoogleAuthenticationAPI.swift</string>
						<string>../Podfile: GoogleSignIn</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>SortOrder</key>
			<integer>104</integer>
			<key>Identifier</key>
			<string>Firebase</string>
			<key>Name</key>
			<string>Include Firebase Cloud Messaging</string>
			<key>Description</key>
			<string>Adds Firebase Cloud Messaging pod to the default Podfile</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Application/FCMConfiguration.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Application/FCMConfiguration.swift</string>
							<key>Group</key>
							<array>
								<string>Application</string>
							</array>
						</dict>
						<key>../Podfile: FirebaseCore</key>
						<string>pod &apos;Firebase/Core&apos;</string>
						<key>../Podfile: FirebaseMessaging</key>
						<string>pod &apos;Firebase/Messaging&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Application/FCMConfiguration.swift</string>
						<string>../Podfile: FirebaseCore</string>
						<string>../Podfile: FirebaseMessaging</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Default</key>
			<string>Universal</string>
			<key>Description</key>
			<string>Which device family to create a project for</string>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Name</key>
			<string>Devices:</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>TARGETED_DEVICE_FAMILY</key>
								<string>1,2</string>
							</dict>
						</dict>
					</array>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1,2</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>TARGETED_DEVICE_FAMILY</key>
								<string>2</string>
							</dict>
						</dict>
					</array>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>2</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>TARGETED_DEVICE_FAMILY</key>
								<string>1</string>
							</dict>
						</dict>
					</array>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Type</key>
			<string>popup</string>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Language:</string>
			<key>Description</key>
			<string>What kind of response type to create</string>
			<key>Default</key>
			<string>Swift</string>
			<key>Values</key>
			<array>
				<string>Swift</string>
			</array>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../.swiftlint.yml</key>
						<dict>
							<key>TargetIndices</key>
							<array/>
							<key>Path</key>
							<string>.swiftlint.yml</string>
						</dict>
						<key>../Podfile</key>
						<dict>
							<key>TargetIndices</key>
							<array/>
							<key>Beginning</key>
							<string># Uncomment the next line to define a global platform for your project
platform :ios, &apos;9.0&apos;

def shared_pods

    # Network
    pod &apos;Moya/RxSwift&apos;, &apos;~&gt; 10.0&apos;
    pod &apos;ObjectMapper&apos;, &apos;~&gt; 3.0&apos;
    pod &apos;Moya-ObjectMapper/RxSwift&apos;, &apos;~&gt; 2.5&apos;
    pod &apos;ReachabilitySwift&apos;, &apos;~&gt; 4.1&apos;
    
    # Reactive
    pod &apos;RxSwift&apos;, &apos;~&gt; 4.0&apos;
    pod &apos;RxCocoa&apos;, &apos;~&gt; 4.0&apos;
    pod &apos;Action&apos;, &apos;~&gt; 3.0&apos;
    pod &apos;RxSwiftExt&apos;, &apos;~&gt; 3.0&apos;
    pod &apos;RxOptional&apos;, &apos;~&gt; 3.1&apos;
    pod &apos;RxDataSources&apos;

    # UI
    pod &apos;PINRemoteImage/PINCache&apos;, &apos;=3.0.0-beta.13&apos;

    # Chat
    # pod &apos;MessageKit&apos; # A community-driven replacement for JSQMessagesViewController
    # pod &apos;NMessenger&apos;, &apos;~&gt; 1.0&apos; # NMessenger is a eBay&apos;s chat opensource build on Texture

    # Database
    pod &apos;RealmSwift&apos;, &apos;~&gt; 3.0&apos;
    pod &apos;RxRealm&apos;
					</string>
							<key>End</key>
							<string>

	# KeychainAccess
    pod &apos;KeychainAccess&apos;

    # Style and conventions
    pod &apos;SwiftLint&apos;, &apos;~&gt; 0.23.0&apos;
end
target &apos;___VARIABLE_productName___&apos; do
    use_frameworks!
    inhibit_all_warnings!

  # Pods for ___VARIABLE_productName___
    shared_pods

    post_install do |installer|
        installer.pods_project.targets.each do |target|
            if target.name == ‘RxSwift’
                target.build_configurations.each do |config|
                    if config.name == ‘Debug’
                        config.build_settings[‘OTHER_SWIFT_FLAGS’] ||= [‘-D’, ‘TRACE_RESOURCES’]
                    end
                end
            end
        end
    end

    target &apos;___VARIABLE_productName___Tests&apos; do
        inherit! :search_paths
        # Pods for testing

    end

    target &apos;___VARIABLE_productName___UITests&apos; do
        inherit! :search_paths
        # Pods for testing

    end

end
							</string>
						</dict>
						<key>Info.plist</key>
						<dict>
							<key>Group</key>
							<string>Application</string>
							<key>Path</key>
							<string>Swift/Application/Info.plist</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Application/AppDelegate.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Application/AppDelegate.swift</string>
							<key>Group</key>
							<string>Application</string>
						</dict>
						<key>Application/___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</key>
						<dict>
							<key>Path</key>
							<string>Swift/Application/___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
							<key>Group</key>
							<string>Application</string>
						</dict>
						<key>Configurations/Configuration.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Configurations/Configuration.swift</string>
							<key>Group</key>
							<array>
								<string>Configurations</string>
							</array>
						</dict>
						<key>Configurations/Enums.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Configurations/Enums.swift</string>
							<key>Group</key>
							<array>
								<string>Configurations</string>
							</array>
						</dict>
						<key>Libraries</key>
						<dict>
							<key>Path</key>
							<string>Swift/Libraries</string>
							<key>PathType</key>
							<string>Group</string>
							<key>Group</key>
							<array>
								<string>Libraries</string>
							</array>
						</dict>
						<key>Extensions/SwiftStdlib/DateExtensions.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Extensions/SwiftStdlib/DateExtensions.swift</string>
							<key>Group</key>
							<array>
								<string>Extensions</string>
								<string>SwiftStdlib</string>
							</array>
						</dict>
						<key>Extensions/SwiftStdlib/StringExtensions.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Extensions/SwiftStdlib/StringExtensions.swift</string>
							<key>Group</key>
							<array>
								<string>Extensions</string>
								<string>SwiftStdlib</string>
							</array>
						</dict>
						<key>Extensions/UIKit/UIScrollViewExtensions.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Extensions/UIKit/UIScrollViewExtensions.swift</string>
							<key>Group</key>
							<array>
								<string>Extensions</string>
								<string>UIKit</string>
							</array>
						</dict>
						<key>Extensions/UIKit/UIImageViewExtensions.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Extensions/UIKit/UIImageViewExtensions.swift</string>
							<key>Group</key>
							<array>
								<string>Extensions</string>
								<string>UIKit</string>
							</array>
						</dict>
						<key>Extensions/Reactive/ReactiveExtensions.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Extensions/Reactive/ReactiveExtensions.swift</string>
							<key>Group</key>
							<array>
								<string>Extensions</string>
								<string>Reactive</string>
							</array>
						</dict>
						<key>Models/User.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Models/User.swift</string>
							<key>Group</key>
							<array>
								<string>Models</string>
							</array>
							<key>PathType</key>
							<string>Group</string>
						</dict>
						<key>Scenes/BaseViewController.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Scenes/BaseViewController.swift</string>
							<key>Group</key>
							<array>
								<string>Scenes</string>
							</array>
						</dict>
						<key>Scenes/ApplicationNavigationController.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Scenes/ApplicationNavigationController.swift</string>
							<key>Group</key>
							<array>
								<string>Scenes</string>
							</array>
						</dict>
						<key>Services/Local/DataStore.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Services/Local/DataStore.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Local</string>
							</array>
						</dict>
						<key>Services/Network/PaginationAPI.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Services/Network/PaginationAPI.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Network</string>
							</array>
						</dict>
						<key>Services/Network/TokenKeychainStore.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Services/Network/TokenKeychainStore.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Network</string>
							</array>
						</dict>
						<key>Services/Network/JSON Mapper/Error+Extension.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Services/Network/JSON Mapper/Error+Extension.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Network</string>
								<string>JSON Mapper</string>
							</array>
						</dict>
						<key>Services/Network/JSON Mapper/ObjecMapper+Transform.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Services/Network/JSON Mapper/ObjecMapper+Transform.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Network</string>
								<string>JSON Mapper</string>
							</array>
						</dict>
						<key>Services/Network/JSON Mapper/ObjectMapper+RxMoya.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Services/Network/JSON Mapper/ObjectMapper+RxMoya.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Network</string>
								<string>JSON Mapper</string>
							</array>
						</dict>
						<key>Services/Network/Models/AccessToken.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Services/Network/Models/AccessToken.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Network</string>
								<string>Models</string>
							</array>
						</dict>
						<key>Services/Network/Models/ServerError.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Services/Network/Models/ServerError.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Network</string>
								<string>Models</string>
							</array>
						</dict>
						<key>Services/Network/Plugins/NetworkErrorLogger.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Services/Network/Plugins/NetworkErrorLogger.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Network</string>
								<string>Plugins</string>
							</array>
						</dict>
						<key>Services/Network/Plugins/NetworkErrorTransformPlugin.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Services/Network/Plugins/NetworkErrorTransformPlugin.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Network</string>
								<string>Plugins</string>
							</array>
						</dict>
						<key>Services/Network/Providers/APIProvider.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Services/Network/Providers/APIProvider.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Network</string>
								<string>Providers</string>
							</array>
						</dict>
						<key>Services/Network/Targets/APITargetType.swift</key>
						<dict>
							<key>Path</key>
							<string>Swift/Services/Network/Targets/APITargetType.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Network</string>
								<string>Targets</string>
							</array>
						</dict>
						<key>Stubbed Responses</key>
						<dict>
							<key>Path</key>
							<string>Swift/Stubbed Responses</string>
							<key>PathType</key>
							<string>Group</string>
							<key>Group</key>
							<array>
								<string>Stubbed Responses</string>
							</array>
						</dict>
						<key>Resources/Fonts</key>
						<dict>
							<key>Path</key>
							<string>Swift/Resources/Fonts</string>
							<key>Group</key>
							<array>
								<string>Resources</string>
								<string>Fonts</string>
							</array>
						</dict>
						<key>Resources/Storyboard/LaunchScreen.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Swift/Resources/Base.lproj/LaunchScreen.storyboard</string>
							<key>Group</key>
							<array>
								<string>Resources</string>
								<string>Storyboards</string>
							</array>
						</dict>
						<key>Resources/Storyboard/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Swift/Resources/Base.lproj/Main.storyboard</string>
							<key>Group</key>
							<array>
								<string>Resources</string>
								<string>Storyboards</string>
							</array>
						</dict>
						<key>Resources/Strings</key>
						<dict>
							<key>Path</key>
							<string>Swift/Resources/Strings</string>
							<key>Group</key>
							<array>
								<string>Resources</string>
								<string>Strings</string>
							</array>
						</dict>
						<key>Resources/Assets.xcassets</key>
						<dict>
							<key>Path</key>
							<string>Swift/Resources/Assets.xcassets</string>
							<key>Group</key>
							<array>
								<string>Resources</string>
							</array>
						</dict>
						<key>Info.plist:iPhone</key>
						<string>&lt;key&gt;LSRequiresIPhoneOS&lt;/key&gt;&lt;true/&gt;</string>
						<key>Info.plist:LaunchScreen</key>
						<string>&lt;key&gt;UILaunchStoryboardName&lt;/key&gt;&lt;string&gt;LaunchScreen&lt;/string&gt;</string>
						<key>Info.plist:UIRequiredDeviceCapabilities</key>
						<dict>
							<key>Beginning</key>
							<string>&lt;key&gt;UIRequiredDeviceCapabilities&lt;/key&gt;&lt;array&gt;</string>
							<key>End</key>
							<string>&lt;/array&gt;</string>
							<key>Indent</key>
							<integer>1</integer>
						</dict>
						<key>Info.plist:UIRequiredDeviceCapabilities:base</key>
						<string>&lt;string&gt;armv7&lt;/string&gt;</string>
						<key>Info.plist:LSApplicationQueriesSchemes</key>
						<dict>
							<key>Beginning</key>
							<string>&lt;key&gt;LSApplicationQueriesSchemes&lt;/key&gt;&lt;array&gt;</string>
							<key>End</key>
							<string>&lt;/array&gt;</string>
							<key>Indent</key>
							<integer>1</integer>
						</dict>
						<key>Info.plist:NSCameraUsageDescription</key>
						<string>&lt;key&gt;NSCameraUsageDescription&lt;/key&gt;&lt;string&gt;Camera Usage Description&lt;/string&gt;</string>
						<key>Info.plist:NSPhotoLibraryUsageDescription</key>
						<string>&lt;key&gt;NSPhotoLibraryUsageDescription&lt;/key&gt;&lt;string&gt;Photo Library Usage Description&lt;/string&gt;</string>
						<key>Info.plist:NSAppTransportSecurity</key>
						<string>&lt;key&gt;NSAppTransportSecurity&lt;/key&gt;
							&lt;dict&gt;
								&lt;key&gt;NSAllowsArbitraryLoads&lt;/key&gt;
								&lt;true/&gt;
							&lt;/dict&gt;
						</string>
						<key>Info.plist:UIViewControllerBasedStatusBarAppearance</key>
						<string>&lt;key&gt;UIViewControllerBasedStatusBarAppearance&lt;/key&gt;&lt;false/&gt;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../.swiftlint.yml</string>
						<string>../Podfile</string>
						<string>Info.plist:NSPhotoLibraryUsageDescription</string>
						<string>Info.plist:NSCameraUsageDescription</string>
						<string>Info.plist:NSAppTransportSecurity</string>
						<string>Info.plist:CFBundleURLTypes</string>
						<string>Info.plist:LaunchScreen</string>
						<string>Info.plist:iPhone</string>
						<string>Info.plist:UIViewControllerBasedStatusBarAppearance</string>
						<string>Application/AppDelegate.swift</string>
						<string>Application/___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
						<string>Configurations/Configuration.swift</string>
						<string>Configurations/Enums.swift</string>
						<string>Libraries</string>
						<string>Extensions/SwiftStdlib/DateExtensions.swift</string>
						<string>Extensions/SwiftStdlib/StringExtensions.swift</string>
						<string>Extensions/UIKit/UIScrollViewExtensions.swift</string>
						<string>Extensions/UIKit/UIImageViewExtensions.swift</string>
						<string>Extensions/Reactive/ReactiveExtensions.swift</string>
						<string>Models/User.swift</string>
						<string>Services/Local/DataStore.swift</string>
						<string>Services/Network/PaginationAPI.swift</string>
						<string>Services/Network/TokenKeychainStore.swift</string>
						<string>Services/Network/JSON Mapper/Error+Extension.swift</string>
						<string>Services/Network/JSON Mapper/ObjecMapper+Transform.swift</string>
						<string>Services/Network/JSON Mapper/ObjectMapper+RxMoya.swift</string>
						<string>Services/Network/Models/AccessToken.swift</string>
						<string>Services/Network/Models/ServerError.swift</string>
						<string>Services/Network/Plugins/NetworkErrorLogger.swift</string>
						<string>Services/Network/Plugins/NetworkErrorTransformPlugin.swift</string>
						<string>Services/Network/Providers/APIProvider.swift</string>
						<string>Services/Network/Targets/APITargetType.swift</string>
						<string>Scenes/BaseViewController.swift</string>
						<string>Scenes/ApplicationNavigationController.swift</string>
						<string>Stubbed Responses</string>
						<string>Resources/Fonts</string>
						<string>Resources/Strings</string>
						<string>Resources/Assets.xcassets</string>
						<string>Resources/Storyboard/Main.storyboard</string>
						<string>Resources/Storyboard/LaunchScreen.storyboard</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
