<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.applicationBase</string>
	</array>
	<key>Identifier</key>
	<string>com.innovatube.template.unit.bundleBase</string>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Targets</key>
	<array>
		<dict>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>PRODUCT_BUNDLE_IDENTIFIER</key>
					<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PACKAGENAMEASRFC1034IDENTIFIER___.debug</string>
				</dict>
				<key>Staging</key>
				<dict>
					<key>PRODUCT_BUNDLE_IDENTIFIER</key>
					<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PACKAGENAMEASRFC1034IDENTIFIER___.staging</string>
				</dict>
				<key>Release</key>
				<dict>
					<key>PRODUCT_BUNDLE_IDENTIFIER</key>
					<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PACKAGENAMEASRFC1034IDENTIFIER___</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Staging</key>
			<dict>
				<key>DEBUG_INFORMATION_FORMAT</key>
				<string>dwarf-with-dsym</string>
				<key>VALIDATE_PRODUCT</key>
				<string>YES</string>
				<key>ENABLE_NS_ASSERTIONS</key>
				<string>NO</string>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<string>STAGING=1 $(inherited)</string>
				<key>SWIFT_OPTIMIZATION_LEVEL</key>
				<string>-Owholemodule</string>
				<key>SWIFT_ACTIVE_COMPILATION_CONDITIONS</key>
				<string>STAGING</string>
				<key>MTL_ENABLE_DEBUG_INFO</key>
				<string>NO</string>
			</dict>
			<key>Release</key>
			<dict/>
		</dict>
	</dict>
</dict>
</plist>
